# Visual Studio temporary files
.vs/

# Build folders
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# App settings for local development
appsettings.Development.json

# Rider / ReSharper files
.idea/
*.ReSharper*
